extensions:
	mango.presenterTester: Webnazakazku\MangoTester\PresenterTester\Bridges\Infrastructure\PresenterTesterExtension
mango.presenterTester:
	baseUrl: http://mango.dev
services:
	- Tests\Tester\PresenterTester\TestPresenterTesterListener
