includes:
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon
    - vendor/phpstan/phpstan-nette/extension.neon
    - vendor/phpstan/phpstan-nette/rules.neon

parameters:
    level: 8

    universalObjectCratesClasses:
        - Nette\Http\SessionSection

    ignoreErrors:
        -
            message: """
                #^Call to deprecated method validateConfig\\(\\) of class Nette\\\\DI\\\\CompilerExtension\\:
                use getConfigSchema\\(\\)$#
            """
            count: 1
            path: src/Bridges/Infrastructure/PresenterTesterExtension.php
        -
            message: "#^Readonly property Nette\\\\Http\\\\Request\\:\\:\\$rawBodyCallback is assigned outside of its declaring class\\.$#"
            count: 1
            path: src/PresenterTester.php
