includes:
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon
    - vendor/phpstan/phpstan-nette/extension.neon
    - vendor/phpstan/phpstan-nette/rules.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
    level: 8

    universalObjectCratesClasses:
        - Nette\Http\SessionSection

    treatPhpDocTypesAsCertain: false

    ignoreErrors:
        -
            message: """
                #^Call to deprecated method validateConfig\\(\\) of class Nette\\\\DI\\\\CompilerExtension\\:
                use getConfigSchema\\(\\)$#
            """
            count: 1
            path: src/Bridges/Infrastructure/PresenterTesterExtension.php

        -
            message: '#^Property Nette\\Http\\Request\:\:\$(.*) is not writable\.$#'
            path: src/PresenterTester.php

        -
            message: "#^Readonly property Nette\\\\Http\\\\Request\\:\\:\\$(.*) is assigned outside of its declaring class\\.$#"
            path: src/PresenterTester.php
