services:
	testerListener: Tests\Tester\PresenterTester\TestPresenterTesterListener()
	presenterTester: Webnazakazku\MangoTester\PresenterTester\PresenterTester(baseUrl: http://localhost, listeners: [
		@Tests\Tester\PresenterTester\TestPresenterTesterListener
	])
	router: Nette\Application\Routers\SimpleRouter
application:
	mapping:
		*: Tests\Tester\PresenterTester\Presenters\*\*Presenter
