name: QA

on:
  pull_request:
    paths-ignore:
      - ".docs/**"
  push:
    branches:
      - "*"
  schedule:
    - cron: "0 8 * * 1" # At 08:00 on Monday

jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        php: [ '7.2', '7.3', '7.4', '8.0', '8.1' ]

    name: PHP ${{ matrix.php }}

    steps:
      - uses: actions/checkout@v2
      - uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          extensions: tokenizer
          coverage: none

      - run: composer install --no-interaction --no-progress
      - run: vendor/bin/codesniffer src tests
      - run: vendor/bin/phpstan analyse src tests
      - run: vendor/bin/tester -C tests/cases
